ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d9dbf3;;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active2) {
    background-color: #383958;
  }
  
  .active2 {
     background-color: #383958; 
  }
 .button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #383958;
  
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #b2b4c9}

.button:active {
  background-color: #d9dbf3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body{
    background-color: #ffc2d4;
   
    }
  
  #p1{
  color: black;
  background: rgb(157 187 185 / 37%);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  top: 500px;
  text-align: center;
  position: center; 
  border: 1px solid rgb(7, 7, 7);
  width: 70%;
  padding: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  }
  
  #startBtn{
    top: 300px;
  }
  button{
    border: 1px solid black;
    font-family: "Times New Roman", Times, serif;
  
  }